html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
               Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main{
    border-top:1px solid gray;
    border-bottom:1px solid gray;
    padding: 15px;
    font-size:xx-small;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: -webkit-fill-available; */
}

.head,.footer,.headtitle{
    padding: 15px;
    display: flex;
    flex-direction: row;
}

.headtitle{
    border-top: 1px solid gray;
}

.footerfooter{
    font-size:x-small;
    padding: 5px;
    width: 100%;
    border-top: 1px solid gray;
}

.icon{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}